<!-- app/views/main/delete_house.html.erb -->

<h1>Delete House</h1>

<!-- Your form or content for deleting a house goes here -->
<p>Are you sure you want to delete this house?</p>
<%= link_to "Delete", @house, method: :delete, data: { confirm: "Are you sure?" } %>
<%= link_to "Back", houses_path %>
